PORT="3001"
PGUSER="postgres"
PGPASSWORD="root"
PGHOST="127.0.0.1"
PGDATABASE="trade"
PGPORT="5432"
JWT_SECRET="your JWT secret here"
OWNER_ALIAS="your alias here"
DAEMON_URL="http://37.27.100.59:10500/json_rpc"
FRONTEND_BASE_URL="https://trade.zano.org/"